<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.bigdata.spring.member.vo.MembershipVO" alias ="membershipVo"/>
		<typeAlias type="com.bigdata.spring.member.vo.StoreManageVO" alias="storemanageVo"/>
		<typeAlias type="com.bigdata.spring.member.vo.MenuVO" alias="menuVO"/>
	</typeAliases>


</configuration>

